@use "../abstract/" as *;
@use "../base/" as *;

.btn{
  display: inline-block;
  color: $clr-light;
  padding: 1rem 2rem;
  text-align: center;
  font-family: Candara;
  border-radius: 5rem;
  border:1px solid transparent;
  transition: .5s ease;
  &:hover{
    scale: 1.1;
    transition: .5s ease;
  }
  &.bg--marine{
    background: $clr-marine;
  }
  &.bg--transparent{
    background: transparent;
    border:1px solid $clr-dark;
    color:$clr-dark;
  }
}